.stories-container {
  margin-top: 20px;
  min-height: 500px;
}

.selected-story {
  padding-left: 50px;
  max-width: 814px;
}

.list-group {
  &:active, &:hover {
    text-decoration: none;
  }
  a:link {
    color: black;
  }
  a:visited {
    color: black;
  }
  a {
    text-decoration: none;
  }
}

.list-group-item:hover {
  transition: all 0.2s;
  -webkit-transition: 0.2s;
  -webkit-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
}

.new-story {
  max-width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.sc-dropdown {
  margin-left: 10px;
}

.story-component:hover {
  background-color: ivory;
}

.dropdown-menu {
  display: none;
  outline: 0;
}

.hidden-id {
  display: none
}

.sc-forms {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
}